.docMainContainer {
  display: flex;
  width: 100%;
  padding-left: 500px;
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: 85%;
  }

  .docMainContainerEnhanced {
    max-width: 85%;
  }

  /* .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  } */
}
